.article-container {
  max-width: 1200px;
}

#TableOfContents li a, .toc-top li a {
	padding: .125rem .5rem;
}

#TableOfContents li a {
  font-size: .75rem;
}

.toc-top li a {
  font-size: 1rem;
}

#TableOfContents ul {
  margin-bottom: 0;
}

#TableOfContents, .docs-toc-title {
	border-left: 1px solid $sta-primary;
}